<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>

  <header>
    {{> common/header }}
  </header>

  <main>
    {{> section/intro }}
    {{> section/numbers }}
    {{> section/carousel }}
    {{> section/youtube }}
    {{> section/plan }}
    {{> section/map }}
    {{> section/contacts }}


  </main>

  <footer>
    {{> common/footer }}
  </footer>


</body>

</html>