<section id="carousel">

    <div class="white">
        <div class="icon">
            <img src="../assets/circle_logo.svg" alt="">
        </div>

        <h1>İNTERYER</h1>
    </div>




    <div class="slider">
        <div class="item">
            <img src="../assets/slider/1.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/2.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/3.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/4.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/5.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/7.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/8.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/10.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/11.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/12.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/13.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/14.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/15.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/16.jpg" alt="">
        </div>
        <div class="item">
            <img src="../assets/slider/17.jpg" alt="">
        </div>
    </div>
</section>