<section class="contacts">
    <div class="container">
        <div class="bg">
            <img src="../assets/contacts.jpg" alt="">
        </div>

        <div class="contacs_block">
            <p>Ünvan: Xocalı prospekti, 15</p>

            <a href="tel:+994 12 488 81 97">Tel: (+994 12) 488 81 97 </a>

            <a href="tel:+994 70 288 81 97"> GSM: (+994 70) 288 81 97</a>

            <div class="social">
                <a target="_blank" href="https://www.facebook.com/xatai.plaza"><span class="fab fa-facebook"></span></a>
                <a target="_blank" href="https://www.instagram.com/xataiplaza/"><span
                        class="fab fa-instagram"></span></a>
                <a target="_blank" href="mailto:reception@xataiplaza.com"><span class="fas fa-envelope"></span></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCyXnPjGGCgPgQs_0fVcIAag"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</section>