<section class="intro">
    <div class="img_block">
        <img src="../assets/intro_bg.png" alt="">
    </div>

    <div class="white_block">
        <div class="icon">
            <img src="../assets/ver_logo.svg" alt="">
        </div>

        <h1>RAHAT OFİS MƏKANI</h1>
        <a href="#carousel"><img src="../assets/more.svg" alt=""></a>

        <p>daha çox göstər</p>

    </div>
</section>