<section id="numbers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="img_block">
                    <img src="../assets/bw.png" alt="">
                </div>
            </div>

            <div class="col-lg-6 ">

                <div class="icon">
                    <img src="../assets/hor_logo.svg" alt="">
                </div>

                <p class="caption">
                    Xətai Plaza 2009-cu ildə istifadəyə verilib və 13 mərtəbədən,
                    o cümlədən 1 mərtəbə yeraltı qarajdan ibarətdir.
                </p>

                <div class="number_wrapper">

                    <div class="number_block">
                        <p class="num" data-stop="2017">2009</p>
                        <p class="descr">İNŞAAT İLİ</p>
                    </div>

                    <div class="number_block">
                        <p class="num" data-stop="296">13</p>
                        <p class="descr">MƏRTƏBƏ</p>
                    </div>

                    <div class="number_block">
                        <p class="num" data-stop="359">6545</p>
                        <p class="descr">M2 SAHƏ</p>
                    </div>

                    <div class="number_block">
                        <p class="num" data-stop="487">65</p>
                        <p class="descr">PARKİNQ</p>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>