<section class="plan">
    <div class="container">
        <h1>BİRİNCİ MƏRTƏBƏNİN PLANI</h1>
        <a href="../assets/plan.png">

        </a>
        <div class="plan_block">
            <img src="../assets/plan.png" alt="">
        </div>
    </div>

</section>