<div class="container">
    <section class="youtube">
        <iframe class="video" width="985" height="670" src="https://www.youtube.com/embed/nAp09XyS6Yk" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </section>
</div>