#numbers {

  @media (max-width: 767.98px) {
    margin-bottom: 100px;
  }
  .img_block {
    height: 730px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .icon {
    width: 160px;
    height: 60px;
    margin: 125px auto 40px;

    @media (max-width: 991.98px) {
      margin: 40px auto;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  
  .caption {
    font-family: "Roboto";
    margin: 0 auto;
    max-width: 370px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #8d9ca5;
  }

  .number_wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991.98px) {
      margin-top: 40px;
    }

    @media (max-width: 575.98px) {
      flex-direction: column;
    }

    .num {
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      color: #0c4669;
    }

    .descr {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 48px;
      text-align: center;
      color: #8d9ca5;
    }
  }
}
